.container {
  background: rgba(255, 255, 255, 0.95);
  padding: 1rem;
  border-radius: 15px;
  width: min(300px, 90%);
  margin: 1rem auto;
  color: #165b33;
}

.title {
  color: #ce2029;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

.list {
  max-height: 150px;
  overflow-y: auto;
  padding: 0.5rem;
  border: 1px solid #165b33;
  border-radius: 5px;
}

.item {
  padding: 0.3em;
  border-bottom: 1px solid #eee;
}

.item:last-child {
  border-bottom: none;
}

@media (min-width: 1200px) {
  .list {
    max-height: 300px;
  }
}
